* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #19191a;
  position: relative;
}

.circle {
  width: 250px;
  height: 250px;
  background-color: #4f77ff;
  position: absolute;
  transform: rotate(-0.25turn);
  top: 39%;
  z-index: 10;
  left: 50%;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  background-image: conic-gradient(#4d77ff 75%, #9ad5ff 25%);
}

.rectangle {
  width: 125px;
  height: 200px;
  background-color: #f9e492;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
}
